// --------------------
// VARIABLES
// --------------------
$dark: #333333;
$light: #ffffff;
$accent: #f2ab01;
$gray: #666666;

$radius-big: 120px 120px 120px 0;
$radius-big-img: 110px 110px 110px 0;

// --------------------
// MIXINS
// --------------------
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  background-color: $light;
  border-radius: 50%;
  @include flex-center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@mixin dot-item($gap, $margin-left) {
  display: flex;
  align-items: center;
  gap: $gap;
  margin-left: $margin-left;
  position: relative;
  z-index: 1;
}

@mixin dot-icon($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $accent;
  display: inline-block;
}

// --------------------
// BASE CLASSES (for extend)
// --------------------
.dot-base {
  @include dot-item(20px, -28.5px);
}

.circle-base {
  @include circle(35px);
}

.circle-base-2 {
  @include circle(28px);
}

// --------------------
// MAIN STYLES
// --------------------
.left-bg {
  background-color: $dark;
}

.kut {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 41.6%;
  height: 458px;
  background: $accent;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
}

.photo-mask {
  width: 260px;
  aspect-ratio: 1/1;
  background: $light;
  padding: 9px;
  border-radius: $radius-big;
  overflow: hidden;
  @include flex-center;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  margin-top: 101px;
  margin-left: 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: $radius-big-img;
    z-index: 2;
  }
}

.line {
  width: 3px;
  background-color: $gray;
  height: 1616px;
  margin-right: 20px;
  margin-left: 70px;
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
}

.content {
  flex: 1;
}

.text-1 {
  font-size: 33px;
  text-transform: uppercase;
  color: $light;
  font-weight: 800;
  margin-left: -5px;
}

// --------------------
// DOT SECTION 1
// --------------------
.dot {
  .item {
    @include dot-item(20px, -27.5px);

    i {
      @include dot-icon(12px);
      height: 50px;
      border-radius: 15px;
    }
  }
}

.icon-circle {
  @extend .circle-base;

  div {
    color: $dark;
    font-size: 22px;
  }
}

.icon-circle-3 {
  @extend .circle-base-2;

  div {
    color: $dark;
    font-size: 18px;
  }
}

// --------------------
// DOT SECTION 2
// --------------------
.dot-2 {
  .item {
    @extend .dot-base;
  }

  .item i {
    @include dot-icon(15px);
  }
}

.icon-circle-2 {
  @include circle(30px);

  div {
    color: $dark;
    font-size: 16px;
  }
}

// --------------------
// TEXT BLOCKS
// --------------------
.text-2 {
  font-size: 18px;
  line-height: 25px;
  color: $light;
}

.h-line {
  width: 85%;
  border-top: 2px dashed $light;
  margin: 50px 0;
}

// --------------------
// DOT SECTION 3
// --------------------
.dot-3 {
  .item {
    @include dot-item(20px, -28.5px);
    align-items: flex-start;
    margin-top: 10px;

    i {
      @include dot-icon(15px);
      flex-shrink: 0;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.text-3 {
  font-size: 22px;
  text-transform: uppercase;
  color: $light;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 15px;
}

.text-4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  color: $light;
}
