<div class="wrapper">
    <div class="line"></div>
    <div class="content">
        <div class="kut"></div>
        <div class="photo-mask">
            <img src="img/images.jpg" alt="">
        </div>
        <br>
        <br>
        <div>
            <div class="dot">
                <div class="item">
                    <i></i>
                    <div class="icon-circle">
                        <div class="fas fa-user"></div>
                    </div>
                    <span class="text-1">CONTACT ME</span>
                </div>
            </div>
            <br>
            <br>
            <div class="dot-2">
                <div class="item">
                    <i></i>
                    <div class="icon-circle-3">
                        <div class="fas fa-phone"></div>
                    </div>
                    <span class="text-2">+1-718-310-5588 <br>
                          +1-313-381-8167</span>
                </div>
            </div>
            <br>
            <div class="dot-2">
                <div class="item">
                    <i></i>
                    <div class="icon-circle-3">
                        <div class="fas fa-globe"></div>
                    </div>
                    <span class="text-2">www.yourwebsite.com <br>
                          yourinfo@email.com</span>
                </div>
            </div>
            <br>
            <div class="dot-2">
                <div class="item">
                    <i></i>
                    <div class="icon-circle-3">
                        <div class="fa-solid fa-graduation-cap"></div>
                    </div>
                    <span class="text-2">769 Prudence Street <br>
                          Lincoln Park, MI 48146</span>
                </div>
            </div>
        </div>

        <div class="h-line"></div>

        <div>
            <div class="dot">
                <div class="item">
                    <i></i>
                    <div class="icon-circle">
                        <div class="fa-solid fa-users"></div>
                    </div>
                    <span class="text-1">REFERENCES</span>
                </div>
            </div>
            <br>
            <div class="dot-3">
                <div class="item">
                    <i></i>
                    <div><span class="text-3">DARWIN B. MAGANA<br></span>
                      <span class="text-4">2813 Shode Lane Mancos, CO.<br>
                            Tel: +1-970-533-3393<br>
                            Email: www.yourwebsite.com
                      </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="dot-3">
                <div class="item">
                    <i></i>
                    <div><span class="text-3">ROBERT J. BELVIN<br></span>
                        <span class="text-4">2119 Fairfax Drive Newark, NJ.<br>
                            Tel: +1-908-987-5103<br>
                            Email: www.yourwebsite.com
                      </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-line"></div>

        <div>
            <div class="dot">
                <div class="item">
                    <i></i>
                    <div class="icon-circle">
                        <div class="fa-solid fa-graduation-cap"></div>
                    </div>
                    <span class="text-1">EDUCATION</span>
                </div>
            </div>
            <br>
            <div class="dot-3">
                <div class="item">
                    <i></i>
                    <div><span class="text-3">STANFORD UNIVERSITY<br></span>
                        <span class="text-4">MASTER DEGREE GRADUATE<br>
                            2011-2013<br>
                      </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="dot-3">
                <div class="item">
                    <i></i>
                    <div><span class="text-3">UNIVERSITY OF CHICAGO<br></span>
                        <span class="text-4">BACHELOR DEGREE GRADUATE<br>
                            2007-2010<br>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>